/* app.component.scss */
/* styles.scss */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .header {
    text-align: center;
    background-color: #eb6a1f;
    color: white;
    padding: 10px;

  }
  
  .content {
    padding: 20px;
  }
  