<form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
  <mat-form-field appearance="fill">
    <mat-label for="username">Username:</mat-label>
    <input matInput type="text" id="username" formControlName="username" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="password">Password:</mat-label>
    <input matInput type="password" id="password" formControlName="password" />
  </mat-form-field>

  <button mat-button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
