.dynamic-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .form-field-container {
    margin-bottom: 20px;
  }
  
  .field-input {
    display: flex;
    align-items: center;
  }
  
  button {
    margin-right: 10px;
  }
  
  mat-checkbox {
    margin-top: 8px;
  }
  
  mat-form-field {
    width: 100%;
  }
  