<form [formGroup]="form" class="form-container">
  <div class="form-header">
    <header>
      <h2>
        CREATE YOUR FORM
      </h2>
      </header>
  </div>
  <mat-form-field>
    <label for="formName">Form Name:</label>
    <input matInput type="text" id="formName" formControlName="formName" required>
  </mat-form-field>

  <div formArrayName="fields">
    <div *ngFor="let field of fields.controls; let i = index" [formGroupName]="i" class="form-field">
      <div *ngIf="field.get('type')?.value === 'text'">
        <mat-form-field>
          <label for="label">Label:</label>
          <input matInput type="text" id="label" formControlName="label" required>
        </mat-form-field>
        <mat-form-field>
          <label for="placeholder">Placeholder:</label>
          <input matInput type="text" id="placeholder" formControlName="placeholder" required>
        </mat-form-field>
      </div>
      <div *ngIf="field.get('type')?.value === 'dropdown'">
        <mat-form-field>
          <label for="label">Label:</label>
          <input matInput type="text" id="label" formControlName="label" required>
        </mat-form-field>
        <div formArrayName="options">
          <div *ngFor="let option of getOptionsArray(i).controls; let j = index" [formGroupName]="j">
            <mat-form-field>
              <label for="option">Option:</label>
              <input matInput type="text" id="option" formControlName="option" required>
            </mat-form-field>
            <button *ngIf="showRemoveButtons" type="button" (click)="removeOption(i, j, 'dropdown')">Remove Option</button>
          </div>
          <button type="button" (click)="addOption(i, 'dropdown')">Add Option</button>

        </div>
      </div>
      
      <div *ngIf="field.get('type')?.value === 'checkbox'">
        <!-- ... (checkbox field inputs) ... -->
        <mat-form-field>
          <label for="label">Label:</label>
          <input matInput type="text" id="label" formControlName="label" required>
        </mat-form-field>
        <div formArrayName="options">
          <div *ngFor="let option of getFieldOptions(field).controls; let j = index" [formGroupName]="j">
            <mat-form-field>
              <label for="option">Option:</label>
              <input matInput type="text" id="option" formControlName="option" required>
            </mat-form-field>
            <button *ngIf="showRemoveButtons" type="button" (click)="removeOption(i, j, 'checkbox')">Remove Option</button>

          </div>
          <button type="button" (click)="addOption(i, 'checkbox')">Add Option</button>

        </div>
      </div>

      <button *ngIf="showRemoveButtons" type="button" mat-raised-button color="warn" (click)="removeField(i)">Remove Field</button>
    </div>
  </div>
  <div class="form-buttons">
    <button type="button" mat-raised-button class="button" (click)="addTextField()">Add Text Field</button>
    <button type="button" mat-raised-button class="button" (click)="addDropdownField()">Add Dropdown Field</button>
    <button type="button" mat-raised-button class="button" (click)="addCheckboxField()">Add Checkbox Field</button>

    <button type="button" mat-raised-button id="Save" (click)="saveForm()">Save Form</button>
  </div>
</form>