.form-container {
  max-width: 600px;
  margin: auto;
}

.form-header {
  text-align: center;
  padding: 20px 0;
}
#Save{
  margin: 10px;
  background-color: #eb6a1f;
  color: white;
}
.button{
  margin: 10px;
}

.form-field {
  margin-bottom: 20px;
}

.form-buttons {
  text-align: center;
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
}
